[config]
acro_think_time=90
bonus_time=20
bonus_points=10
vote_points=10
rounds=10
acro_length_string=2333333344444444455566
acro_char_string=aaaaaabbbbbccccddddeeeeeffffgggghhhhiiiiijjjkllllmmmmnnnnnnooooopppppqrrrrrrsssssssttttttuuuvvwwxyyyz
admin_password=password
