[EFNet]
nick=akr0
servers=irc.homelien.no|irc.prison.net:6667|irc.lagged.org
ircname=Play Akro?
channel=#akro,#fo0bar

[HybNet]
nick=akro
servers=irc.denon.cx
ircname=Play Akro?
channel=#akro
nickserv_password=password

[Colobox]
nick=akro
servers=irc.colobox.com
ircname=Play Akro?
channel=#akro

[GIMPNet]
nick=akro
servers=irc.gimp.org
ircname=Play Akro?
channel=#akro

