[EFNet]
nick=akr0
server=irc.homelien.no
ircname=Play Akro?
channel=#akro,fo0bar

[HybNet]
nick=akro
server=irc.denon.cx
ircname=Play Akro?
channel=#akro
nickserv_password=password

[Colobox]
nick=akro
server=irc.colobox.com
ircname=Play Akro?
channel=#akro

[GIMPNet]
nick=akro
server=irc.gimpnet.org
ircname=Play Akro?
channel=#akro

